<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
userId: <input type="text" id="userId"><br>
password : <input type="text" id="password"><br>
<button id="btn_apiTest">ApiTest</button>
<br>
<button id="btn_stringTest">StringTest</button>
<br>
<button id="btn_arrayTest">ArrayTest</button>
<br>
<button id="btn_deleteTest">DeleteTest</button>
<br>

<script>
    //HTML 폼이 전부 로딩된 이후에 다음이ㅡ 함수를 실행
    document.addEventListener('DOMContentLoaded', function(){
    //API POST 테스트 버튼 클릭 시
    document.getElementById('btn_apiTest').addEventListener('click', function(){
    // API 호출 메서드 : fetch 함수를 실행
    // fetch(찾아갈 URL, 실행할 아이)
    // fetch : api에게 요청하는 함수
    // header : 데이터를 주고 받을 때, type(json)으로 주고 받는다.
    // body : stingify 내가 보내는 문자열을 object 로 바꿔라. // 반대 : 파스
    // json으로 보내면, 알아서 서버에서 받는 곳(RequestBody)으로 보내준다.
    // 역순으로 보낸다면 파스를 사용한다.
    // (요청, method : post) 받을게 있으면 값이 response
    // 실패하면 catch로 받는다.
    fetch('apiEntityTest', {
    method:'POST', headers:{
    'Content-Type : 'application/json',},
    body : JSON.stringify({
        'userId':document.getElementById('userId').value
        'password':document.getElementById('password').value
    })
    })
    .then(response=>response.text())
    .then(
        data => console.log(data);
    )
    .catch(
        error => console.log(error);
    )
    })
})

    // deleteTest

    document.getElementById('btn_apiTest').addEventListener('click', function(){
    // API 호출 메서드 : fetch 함수를 실행
    // fetch(찾아갈 URL, 실행할 아이)
    // fetch : api에게 요청하는 함수
    // header : 데이터를 주고 받을 때, type(json)으로 주고 받는다.
    // body : stingify 내가 보내는 문자열을 object 로 바꿔라. // 반대 : 파스
    // json으로 보내면, 알아서 서버에서 받는 곳(RequestBody)으로 보내준다.
    // 역순으로 보낸다면 파스를 사용한다.
    // (요청, method : post) 받을게 있으면 값이 response
    // 실패하면 catch로 받는다.
    fetch('delete', {
    method:'delete',
    })
    .then(response=>response.text())
    .then(
        data => console.log(data);
    )
    .catch(
        error => console.log(error);
    )
    })
})
</script>
</body>
</html>